@font-face {
  src: url("CenturyStd-BookCondensed.otf");
  font-family: "Century Condensed";
  font-weight: 400;
}

@font-face {
  src: url("self_modern_trial.otf");
  font-family: "Self Modern";
  font-weight: 400;
}

@font-face {
  src: url("self_modern_italic_trial.otf");
  font-family: "Self Modern";
  font-weight: 400;
  font-style: italic;
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  --purple: rgba(120, 86, 173, 1);
  --purpleLight: rgba(120, 86, 173, 0.1);
  --blue: rgba(15, 92, 206, 1);
  --blueLight: rgba(15, 92, 206, 0.1);
  --cyan: rgba(95, 175, 185, 1);
  --cyanLight: rgba(95, 175, 185, 0.1);
  --green: rgba(20, 129, 113, 1);
  --greenLight: rgba(20, 129, 113, 0.1);
  --orange: rgba(252, 136, 0, 1);
  --orangeLight: rgba(252, 136, 0, 0.1);
  --red: rgba(230, 59, 60, 1);
  --redLight: rgba(230, 59, 60, 0.1);
  --brown: rgba(136, 64, 91, 1);
  --brownLight: rgba(136, 64, 91, 0.1);

  font-family: "Self Modern", serif;
  line-height: 1.6;
  color: rgba(19, 2, 43, 0.7);
  background: #f4eef7;
  font-size: calc(1rem + (3 - 1) * (100vw - 20rem) / (90 - 20));
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

li:nth-child(7n) {
  color: var(--purple);
}
li:nth-child(7n + 2) {
  color: var(--blue);
}
li:nth-child(7n + 4) {
  color: var(--cyan);
}
li:nth-child(7n + 6) {
  color: var(--green);
}
li:nth-child(7n + 1) {
  color: var(--orange);
}
li:nth-child(7n + 3) {
  color: var(--red);
}
li:nth-child(7n + 5) {
  color: var(--brown);
}
li:nth-child(7n) > a:hover {
  background: var(--purpleLight);
}
li:nth-child(7n + 2) > a:hover {
  background: var(--blueLight);
}
li:nth-child(7n + 4) > a:hover {
  background: var(--cyanLight);
}
li:nth-child(7n + 6) > a:hover {
  background: var(--greenLight);
}
li:nth-child(7n + 1) > a:hover {
  background: var(--orangeLight);
}
li:nth-child(7n + 3) > a:hover {
  background: var(--redLight);
}
li:nth-child(7n + 5) > a:hover {
  background: var(--brownLight);
}

body {
  margin: 1rem;
}

header {
  display: flex;
  align-items: flex-end;
}

header > h1 {
  font-size: 12vw;
  font-style: italic;
  letter-spacing: -0.04ch;
  line-height: 1;
  margin: 0 auto;
}

header > img {
  --size: 30vw;
  width: var(--size);
  height: calc(var(--size) * 4 / 3);
  object-fit: cover;
}

img {
  background-color: rgba(14, 0, 32, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  border-top: solid 1px currentColor;
}

a {
  font-style: italic;
  color: inherit;
  text-decoration: none;
  border: solid 1px currentColor;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  transition: background-color 100ms;
}

a:hover {
  background: rgba(14, 0, 32, 0.1);
}

b,
strong {
  font-weight: normal;
  color: currentColor;
}

.emdash {
  display: inline-block;
  width: 0.8rem;
  height: 1px;
  background: currentColor;
  margin-bottom: 0.3rem;
  margin-left: -0.15rem;
  margin-right: -0.15rem;
}
